<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="IsStateServer" value="true"/>

    <add key="HostAddress" value="192.168.0.50"/>
    <add key="GatsAddress" value="192.168.0.50"/>
    <add key="ETestAddress" value="192.168.0.50"/>

    <add key="ServerPort" value="9900"/>
    <add key="ETestPort" value="9901"/>
    <add key="FlashPort" value="9902"/>

    <add key="ServerApp" value="STATE_SERVER"/>
    <add key="ETestApp" value="WINRES"/>
    <add key="FlashApp" value="GTS"/>

    <add key="ShowStatus" value="false"/>
    <add key="ShowButtons" value="false"/>
    <add key="ShowSendData" value="false"/>
    <add key="DebugView" value="true"/>

    <add key="WriteToFile" value="true"/>
    <add key="LogFolder" value="C:\GIT\TPI-Winres\Interfaces\TCPHandshakeServer\TCPHandshakeServer\bin\Debug\Logs\"/>
    <add key="DateTimeFormat" value="yyyy-MM-dd HH:mm:ss.fff"/>
    <add key="FileFormat" value="yyyy-MM-dd"/>
    <add key="ButtonColor" value="Aqua"/>

    <add key="LogInterval" value="3000"/>
    
    <add key="FlashTimeout" value="60000"/>
    <add key="PreTimeout" value="30000"/>
    <add key="TestTimeout" value="30000"/>
    <add key="PostTimeout" value="30000"/>
    <add key="EResultTimeout" value="30000"/>
    <add key="ResultsDataTimeout" value="3000"/>
    
    <add key="MaxFaultPrint" value="6"/>
    <add key="MaxLogFiles" value="10"/>
    <add key="MaxRetries" value="3"/>
  </appSettings>
</configuration>
